<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alonemusic">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 9.0后前台服务需要申请权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
        android:icon="@mipmap/ic_launcher"
        android:label="ALoneMusic"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".test.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.SplashActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:theme="@style/XUITheme.Launch.Demo"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.RetrieveActivity" />
        <activity android:name=".activity.ContactsItemActivity" />
        <activity android:name=".activity.MusicActivity" />
        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".test.FileActivity" />
        <activity android:name=".test.SQLiteActivity" />
        <activity android:name=".test.ServiceActivity" />
        <activity android:name=".test.FirstProvideActivity" />

        <provider
            android:name=".test.FirstProvider"
            android:authorities="com.example.alonemusic"
            android:exported="true" />
        <provider
            android:name=".provider.ContactsProvider"
            android:authorities="com.example.alonemusic.provider.ContactsProvider"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>